#hero {
    @include grid-position(#{1 / 2}, #{1 / 2});
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background: url("../images/pexels-sanaan-mazhar-3075993-compressed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: bottom;
    box-shadow: inset 999px 999px 999px rgba(0, 0, 0, .5);
    header {
        @include grid-position(#{1 / 2},
        #{1 / 2});
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            margin-top: 100px;
            li {
                list-style: none;
                justify-self: center;
                align-self: center;
                a {
                    text-decoration: none;
                    color: $primary-color;
                    text-transform: capitalize;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }
    .showcase {
        @include grid-position(#{1 / 2},
        #{2 / 3});
        align-self: end;
        padding: 50px 0px;
        #nav-bar {
            text-align: center;
            transition: 2s ease;
            ul {
                li {
                    list-style: none;
                    padding: 20px 40px;
                    display: inline-block;
                    a {
                        text-decoration: none;
                        color: $white;
                        font-size: 1.1rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        transition: .3s linear;
                        letter-spacing: 1px;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .burger-menu {
        display: none;
    }
}